@import '../../../app/styles/functions';
@import '../../../app/styles/mixins';
@import '../../../app/styles/variables';
@import '../../../app/styles/colors';

.person {
  background: $gray-300;
  box-shadow: 0 25px 35px 0 rgba($black, 0.05);
  border-radius: 10px;
  padding: 1px 20px 12px;
  position: absolute;
  text-align: center;
  transition: 0.3s;
  max-width: 140px;
  width: 100%;

  @include breakpoint-down($xl) {
    padding: 1px 15px 15px;
  }

  @include breakpoint-down($md) {
    padding: 0 10px 10px;
  }

  @include breakpoint-down($xs) {
    max-width: 120px;
  }

  &__pic {
    border-radius: 100%;
    margin: -42px auto 5px;
    overflow: hidden;
    transition: 0.3s;
    height: 83px;
    width: 83px;

    @include breakpoint-down($xl) {
      height: 60px;
      margin-top: -30px;
      width: 60px;
    }

    @include breakpoint-down($md) {
      height: 45px;
      margin-top: -22px;
      width: 45px;
    }

    img {
      display: block;
      object-fit: cover;
      object-position: center;
      height: 83px;
      width: 83px;

      @include breakpoint-down($xl) {
        height: 60px;
        width: 60px;
      }

      @include breakpoint-down($md) {
        height: 45px;
        width: 45px;
      }
    }
  }

  &__flag {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: block;
      height: 10px;
      margin: auto;
      width: auto;
    }
  }

  &__country {
    color: $gray-600;
    margin-left: 5px;
    font-size: 11px;
  }

  &__title {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: -0.1px;
    line-height: 1.2;
    margin-bottom: 5px;
    transition: 0.3s;

    @include breakpoint-down($xl) {
      margin-bottom: 0;
    }
  }
}
