@import '../../../app/styles/functions';
@import '../../../app/styles/mixins';
@import '../../../app/styles/variables';
@import '../../../app/styles/colors';

.how-we-work {
  &__list {
    display: grid;
    gap: 13px;
    grid-template-columns: repeat(3, 1fr);

    @include breakpoint-down($md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-down($xs) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    align-items: center;
    background: $purple-200;
    border-radius: 15px;
    display: flex;
    gap: 50px;
    overflow: hidden;
    padding: 75px;
    position: relative;
    text-decoration: none;
    transition: 0.3s;

    @include breakpoint-down($xxl) {
      gap: 30px;
      padding: 50px;
    }

    @include breakpoint-down($lg) {
      gap: 25px;
      padding: 35px;
    }

    @include breakpoint-down($sm) {
      gap: 20px;
      justify-content: center;
      padding: 25px;
    }

    &::before,
    &::after {
      background: $brand-blue;
      border-radius: 100%;
      content: '';
      height: 25px;
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(0);
      transform-origin: center;
      transition: 0.7s;
      width: 25px;
    }

    &::after {
      top: auto;
      right: 0;
      bottom: 0;
      left: auto;
    }

    /*&:hover {
      background: darken($purple-200, 10);
      text-decoration: none;

      &::before,
      &::after {
        transform: scale(30);
      }
    }*/

    &:nth-child(even) {
      background: $purple-250;

      &:hover {
        //background: darken($purple-250, 10);
        text-decoration: none;
      }
    }
  }

  &__icon {
    height: 85px;
    position: relative;
    transition: 0.3s;
    width: 70px;
    z-index: 1;
    flex: 0 0 70px;

    @include breakpoint-down($xxl) {
      height: 50px;
      width: 50px;
      flex: 0 0 50px;
    }

    @include breakpoint-down($lg) {
      height: 40px;
      width: 40px;
      flex: 0 0 40px;
    }

    @include breakpoint-down($sm) {
      height: 35px;
      width: 35px;
      flex: 0 0 35px;
    }

    picture {
      height: 100%;
    }

    img {
      display: block;
      height: 100%;
      object-fit: contain;
      object-position: center;
      width: 100%;
    }
  }

  &__title {
    position: relative;
    z-index: 1;

    h3 {
      color: $white;
      font-size: 35px;
      font-weight: 600;
      letter-spacing: -0.7px;
      line-height: 40px;
      margin: 0;

      @include breakpoint-down($xxl) {
        font-size: 25px;
        line-height: 35px;
      }

      @include breakpoint-down($sm) {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}