@import '../../../app/styles/functions';
@import '../../../app/styles/mixins';
@import '../../../app/styles/variables';
@import '../../../app/styles/colors';

.footer .start-cooperation__section {
  color: $white;
  margin-bottom: 130px;
  margin-top: 110px;
  text-align: center;

  @include breakpoint-down($xxl) {
    margin-bottom: 90px;
    margin-top: 70px;
  }

  @include breakpoint-down($md) {
    margin-bottom: 30px;
    margin-top: 50px;
  }

  @include breakpoint-down($sm) {
    margin-top: 30px;
  }

  > .container {
    max-width: 1350px;

    @include breakpoint-down($md) {
      display: block;
    }
  }

  h2 {
    color: $white;
    margin-bottom: 35px;
  }
}
