#Create .env file in root folder and add this lines

# for get data from api in dev env [DEVELOPMENT ONLY]
VITE_APP_API_URL=http://your.local.host/

# Provide tag ID for google analytics [REQUIRED]
VITE_APP_GA_ID=G-37LCJFT2P6

# Provide captcha site key [REQUIRED]x
VITE_APP_CAPTCHA_SITE_KEY=6LelTf4pAAAAALabJmTRfpG15jgIEiSCK9P6SL_xx